body {
  background-color: #F7CCAC;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #826F66;
  border-top-width: 5px;
  width: 5%;
}

h1 {
  color: #C69B7B;
}

h2 {
  color: #C69B7B;
}

h3 {
  color: #C69B7B;
}
